.App {
  display: grid;
  height: 100vh;
  align-items: center;
  grid-template-columns: 20% 80%;
  background-color: #E0ECEC;
  font-family: "Inter", sans-serif;
}

.column-20 {
  flex: 0 0 20%; /* flex-grow, flex-shrink, flex-basis */
  height: 100vh;
}

.column-80 {
  flex: 0 0 80%;
  height: 100vh;
  overflow: scroll;
  padding: 0px 10px 10px 35px;
}

.section{
  display: grid;
  grid-template-columns: 50% 50%;
}

.chart{
  width: fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 2%;
  flex: 0 0 50%;
  border: 0px solid #ccc;
  border-radius: 5px;
}

