.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 80%;
}

.column-20 {
  flex: 0 0 20%; /* flex-grow, flex-shrink, flex-basis */
}

.column-80 {
  flex: 0 0 80%;
  overflow: scroll;
  background-color: black;
}

.chart{
  width: 400px;
  height: 350px;
  background-color: azure;
}


